  *{
margin: 0;
padding: 0;

  }
  
  body{
    margin: 0;
       
  }
  
  
  header {
    padding: 0 10%;
    height: 70px; 
    background-color: #13161e; 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    cursor: pointer; 
    height: 5;
  }

  .statement {
    position: absolute;
    top: 25%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2; 
    text-align: center; 
    font-weight: bold; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black; 

    padding: 20px; 
    border-radius: 10px; 
}

.statement p{
  font-size: 50px;
}


  .nav__links {
    list-style: none;
    margin: 0;
  }

  .nav__links li {
    display: inline-block;
    padding: 0px 20px;
  }

  .nav__links li a {
    font-weight: 500; 
    font-size: 16px;
    color: aliceblue;
    text-decoration: none;
    transition: all 0.3s ease 0s;
  }

  .nav__links li a:hover {
    color: aquamarine;
  }

  button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  button:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }

  section img {
    display: block;
    margin: 0 auto; 
    height: 750px; 
  }

.title {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px; 
    font-weight: bold; 
    margin-top: 40px; 
  }

  .container {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    max-width: 1200px; 
    margin: 10px auto; 
  }
  
  .image-box {
    width: calc(33.33% - 20px); 
    margin-bottom: 60px; 
    height: 300px; 
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    border-radius: 20px; 
    border: 1px solid rgba(255, 255, 255, 0.18); 
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); 
  }
  
  .image-box img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 20px; 
  }

  .image-box {
    position: relative;
  }
  
  .image-box::before {
    content: ''; 
    position: absolute;
    bottom: 30px;
    left: 50%; 
    transform: translateX(-50%);
    color: black; 
    font-size: 14px; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
  }
  
  .image-box::after {
    content: '';
    padding-left: 5%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    transition: height 0.3s ease;
    border-radius: 0 0 20px 20px;
  }
  
  .image-box:hover::before {
    opacity: 1; /* Show the text when hovering */
  }
  
  .image-box[id="box-1"]:hover::after {
    padding-top: 2%;
    content: 'Apple Vision Pro';
    height: 50px; /* Adjust the height as needed */
  }
  
  .image-box[id="box-2"]:hover::after {
    padding-top: 2%;
    content: 'Apple Watch Ultra 2';
    height: 50px; /* Adjust the height as needed */
  }
  
  .image-box[id="box-3"]:hover::after {
    padding-top: 2%;
    content: 'EOS 5D Mark IV';
    height: 50px; /* Adjust the height as needed */
  }

  .image-box[id="box-4"]:hover::after {
    padding-top: 2%;
    content: 'Samsung Galaxy A54';
    height: 50px; /* Adjust the height as needed */
  }
  
  .image-box[id="box-5"]:hover::after {
    padding-top: 2%;
    content: 'Mavic Mini Pro';
    height: 50px; /* Adjust the height as needed */
  }
  
  .image-box[id="box-6"]:hover::after {
    padding-top: 2%;
    content: 'Meta Quest 3';
    height: 50px; /* Adjust the height as needed */
  }

  .spacer{

    background-color: #F5F6F7;
    height: 70px;
    width: 100%;
  
  }

  .banner{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #F5F6F7;
    height: 70px;
    width: 100%;
    margin-top: 50px;
  }

  .banner img{
     
    height: 60px;
    width: auto;

  }
  
  .quotes {
    margin-top: 20px;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-bottom: 20px;
}

.quotes p {
    font-size: 24px; 
    text-align: center;

}

#smsngad {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 10px;
  height: 450px;
  width: auto;
  position: relative;
}

#smsngad {
  display: flex;
  align-items: center; /* Align vertically */
}

#smsngad img {
  max-width: 100%; /* Adjusted width */
  transition: transform 0.3s ease;
}

#smsngad img:hover {
   transform: scale(1.1);
   cursor: pointer;
}

#smsngad .caption {
  margin-left: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

#smsngad .caption h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#smsngad .caption p {
  font-size: 16px;
  line-height: 1.4;
}

#design {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; 
  align-items: flex-end; 
}

#design #p{
  
  height: 40px;
  width: 35%;
  background-color: #333;
  margin-right: 10px;
  margin-bottom: 10px;
}

#design1{
  display: flex;
  flex-direction: row;
}

#design1 #p1{
  margin-top: 10px;
  height: 40px;
  width: 35%;
  background-color: #333;
  margin-right: 10px;
  margin-bottom: 10px;
}


#about {
  background-color: #e8e8e8;
  padding: 20px;
}

.title-container {
  text-align: center;
}

#WHY {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.trapezoids-container {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.trapezoid {
  width: 300px;
  height: 280px; /* Adjusted height */
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 10%;
}

.content {
  margin-top: 20px;
  text-align: center;
  padding: 20px;
}

.content img {
  height: 80px;
  max-width: 100%;
  margin-bottom: 10px;
}

footer p {
  font-family: Arial, sans-serif; /* Same font */
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

footer {
  margin-top: 30px;
  background-color: #13161e;
  height: 300px;
  width: 100%;
}
#foot{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#foot img {
  margin-top: 60px;
  height: 70px;
}

#socials{

  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

#socials img{
  margin-left: 10px;
}

footer p {
  color: #ffff;
  text-align: center; /* Align text in the center */
}









  
  

  


  
 